body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(77, 74, 74);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

/* Links */
a,
a:focus
{
  color:black;
}


/*
 * Base structure
 */


 .text-center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(235, 224, 224);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: rgb(77, 74, 74);
}

html,
body {
  height: 100%;
  background-color: #333 cover;
}






.lead{
    font-size: 2em;
    margin: 7em 0 0 5em;
    padding: 0 2em 0 2em;
    text-align: center;
}


ul {
    list-style: none;
    
}

.icons {
   
    margin-bottom: 2em;

    
}


/* .wp-icon ul {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  color: #fff;
  margin: 2em 0 0 5em;
  
} */




