{% extends "base.html" %}
{% load static %}


{% block page_content %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-1 mx-auto flex-column">
      

      <div role="main" class="inner cover">
          
        
        <h1 class="lead">“Coding is the language of the future, and every girl should learn it.”

            - Reshma Saujani</h1>
      
        </div>
      <p class="wp-icon">
        <ul class="icons">
            <li class='icons'>
            <a href="https://www.linkedin.com/in/keyahnablanford/"><i class="fab fa-linkedin-in fa-3x"></i></a>
            </li>
            <li class='icons'>
            <a href="https://github.com/keyahnajanae"><i class="fab fa-github fa-3x"></i></a>
            </li>

            </ul>
    </p>
     
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../bootstrap-4.0.0/dist/js/bootstrap.slim.min.js"><\/script>')</script>
  
   
  </body>
</html>
{% endblock %}
