{% extends "base.html" %}
{% load static %}


{% block page_content %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Keyahna's Portfolio</title>



    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-1 mx-auto flex-column">
      

      <div role="main" class="inner cover">
          
        
        <h1 class="lead">“Coding is the language of the future, and every girl should learn it.”

            - Reshma Saujani</h1>
      
        </div>
      <p class="wp-icon">
        <ul class="icons">
            <li class='icons'>
            <a href="https://www.linkedin.com/in/keyahnablanford/"><i class="fab fa-linkedin-in fa-3x"></i></a>
            </li>
            <li class='icons'>
            <a href="https://github.com/keyahnajanae"><i class="fab fa-github fa-3x"></i></a>
            </li>

            </ul>
    </p>

    <div id="icons" class="container marketing">
    <div class="row">
    <div class="col-md-3">
      <ul>
            <li class="icons">
              <i class="fab fab fab fab fa-html5 fa-4x"></i>
              </li>
              <li class="icons">
        <i title="Python" class="fab fa-python fa-4x"></i>
          </li>
        
        
          </div>
          <div class="col-md-3">
            <ul>
            <li class="icons">
              <i class="fab fab fab fa-js fa-4x"></i>
            
              </li>
              <li class="icons">
                <i class="fab fab fab fa-bootstrap fa-4x"></i>
                </li>
              
                </ul>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
        <li class="icons">
            <i class="fab fab fab fa-css3-alt fa-4x"></i>
            </li>
      
            <li class="icons">
                <i class="fab fab fa-react fa-4x"></i>
                </li>
              </ul>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li class="icons">
            <i title="Javascript" class="fab fa-node-js fa-4x"></i>
            </li>
        
          
            </ul>
      </ul>
    </div>
      </div>
      </div>
    </div>
  

  
  
  </body>
</html>
{% endblock %}
