{% extends "base.html" %}
{% load static %}


{% block page_content %}
<link rel="stylesheet" href="{% static 'css/about.css'%}">
<link href="{% static 'css/resume.css' %}" rel="stylesheet">



    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title">
            <span>About Me</span>
            <h2>About Me</h2>
            <p>Logical Coder . Creative Designer .</p>
          </div>
          <div class="row">
              
            <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-lg-8 d-flex flex-column align-items-stretch">
              <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                <div class="row">
                  <div id="first" class="col-lg-6">
                    <ul>
                      <li><i class="fas fa-chevron-right"></i> <strong>Name:</strong> <span>Keyahna Blanford</span></li>
                      <li><i class="fas fa-chevron-right"></i> <strong>Website:</strong> <span><a href="http://www.linkedin.com/in/keyahnablanford">Check Out My LinkedIn</a></span></li>
                      <li><i class="fas fa-chevron-right"></i> <strong>Portfolio:</strong> <span><a href="https://github.com/keyahnajanae/py-portfolio">Check Out My Code</a></span></li>
                      <li><i class="fas fa-chevron-right"></i> <strong>Phone:</strong> <span>+1 909 964 0176</span></li>
                      <li><i class="fas fa-chevron-right"></i> <strong>City:</strong> <span>Dallas, TX | Remote</span></li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul>
                      <li><i class="fas fa-chevron-right"></i> <strong>Age:</strong> <span>25</span></li>
                      <li><i class="fas fa-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                      <li><i class="fas fa-chevron-right"></i> <strong>Degree:</strong> <span>General Assembly | Software Engineer Immersive Program</span></li>
                      <li><i class="fas fa-chevron-right"></i> <strong>Email:</strong> <span>keyahna_blanford@icloud.com</span></li>
                      <li><i class="fas fa-chevron-right"></i> <strong>Availability:</strong> <span>Available to Work</span></li>

                    </ul>
                  </div>
                </div>
                <div class="col-lg">
                  <p class="about-me"><em>
                    Hello ! My name is Keyahna Blanford. As a Certified Full Stack Developer with over five years of marketing experience working in problem-solving settings and client-based interactions, I take pride in my effective communication abilities and compelling personality. I love working under deadlines and being pushed outside of my comfort zone as the reward is so much sweeter. </em></p>
                </div>
                <div class="col-lg">
                    <p class="references"> Reference One - Dalton Hart | dalton.hart@generalassemb.ly | Instructor from General Assembly Software Engineer Program. </p>
                    <p class="references"> Reference Two - Jeremy Burton | jtracindustries@gmail.com | (678)-367-7440 | Client for Activation Pro. Freelance work for client specifically once relationship was established.</p>
                  </div>
              </div><!-- End .content-->
  
          
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Me Section -->

      <!-- ======= My Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <span>My Resume</span>
            <h2>My Resume</h2>
            <p>Passionate and extremely enthusiastic full-stack developer and business professional with a diverse portfolio in business solutions and management. Highly experienced in networking, communications and client support. Excellent and dependable team player with strong analytical thinking skills.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Summary</h3>
              <div class="resume-item pb-0">
                <h4>Keyahna Blanford</h4>
                <p><em>Innovative and deadline-driven Software Engineer with 1+ years of experience developing user-centered web applications. Former marketing specialist with 5+ years of experience working directly with client and special events with several companies including a small start-up and Netflix. </em></p>
                <p>
                
                </p>
              </div>
              <h3 class="resume-title">Languages | Skills </h3>
              <div class="resume-item pb-0">
                <h4>450 hours of Project-Based classroom learning over 12 weeks |
                  30+ hours of Computer Science
                  </h4>
                <p><em>Knowledgeable in Python, Javascript | Vanilla, CSS | SASS, HTML | EJS , Node.JS, and 
                  developed an understanding of the following areas:
    
                  </em></p>
                <p>
                <ul>
                  <li>SQL Queries</li>
                  <li>Object Oriented Programming</li>
                  <li>React Application Building</li>
                  <li>Amazon Web Cloud Services</li>
                 
                </ul>
                </p>
              </div>
              
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Software Engineering Immersive Program</h4>
                <h5>November 2020</h5>
                <p><em>General Assembly, Remote</em></p>
                <p>In depth full time immersive program lasting about 13 weeks. Became proficient in Javascript, Python, building RESTful routes, APIs and servers and so on.</p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Science Business Management</h4>
                <h5>2013 - 2017</h5>
                <p><em>Delaware State University, Dover, De</em></p>
                <p>Assisted with marketing and management work for a local catering company while in college; helped them launch and plan for first restaurant front.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Event Marketing Specialist</h4>
                <h5>2016 - 2020</h5>
                <p><em>Activation Pro | San Diego, CA </em></p>
                <p>
                <ul>
                  <li>Contribute to building the event strategy and event goals to ensure event success.</li>
                  <li>Analyze program impact and metrics for projects and/or launches. Provide recommendations and create plans for continuous improvement. </li>
                  <li>Execute unique and comprehensive promotional campaigns for several brands.</li>
                  <li>Work with venues to create brand awareness and marketing opportunities.</li>
                </ul>
                </p>
              </div>
              <div class="resume-item">
                <h4>Co-Manager | Events Coordinator </h4>
                <h5>2014 - 2018</h5>
                <p><em>Aunt Mary's Kitchen | Milford, DE</em></p>
                <p>
                <ul>
                  <li>Consistently improve customer/client satisfaction through appreciation and expert resolution of conflicts, issues, and concerns.</li>
                  <li>Plan, develop, coordinate and oversee internal and external catering events and few special events. Worked alongside Executive Chef with menu development, costing, and marketing functions.</li>
                  <li>Consult with clients to evaluate and discuss needs and determine their best options.</li>
                  <li>Develop and Implement social media campaigns and publicity programs producing a 20% increase in business</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End My Resume Section -->


      {% endblock %}